<a href="https://colab.research.google.com/github/Muriloviskexe/Python/blob/main/Estrutura_de_Dados_(Tuplas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Criando e Acessando Elementos em uma Tupla

# Criando uma tupla com diferentes tipos de elementos
minha_tupla = (1, 2, 3, "quatro", True, 5.6)

# Acessando elementos por índice
print(minha_tupla[0])
print(minha_tupla[3])

# Acessando o último elemento
print(minha_tupla[-1])

# Tentando modificar um elemento (isso resultará em um erro, pois tuplas são imutáveis)
#minha_tupla[1] = 10

1
quatro
5.6

In [6]:
#Desempacotando uma tupla

pessoa = ('João', 25, 'São Paulo')

#desempacotar em variaveis individuais
nome, idade, cidade = pessoa

print(nome)
print(idade)
print(cidade)

João
25
São Paulo

In [10]:
#Tuplas Aninhadas

tupla_aninhada = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

#acessar tuplas
print(tupla_aninhada[0])
print(tupla_aninhada[0][2])
print(tupla_aninhada[1][2])
print(tupla_aninhada[1])
print(tupla_aninhada[2][1])

(1, 2, 3)
3
c
('a', 'b', 'c')
False

In [12]:
#Operações com Tuplas

tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

#Concatenar tuplas
tupla_concatenada = tupla1 + tupla2
print(tupla_concatenada)

#repetir tupla
tupla_repetida = tupla1 *2
print(tupla_repetida)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)

In [28]:
#Verificando a Existência de um Elemento em uma Tupla

numeros=(11, 22, 33, 44, 55)

#verificar se existe elemento
print(11 in numeros)
print(12 in numeros)

True
False

In [30]:
# Funções de Agregação em Tuplas

numeros = (11, 22, 33, 44, 55)

print(min(numeros))
print(max(numeros))
print(sum(numeros))
print(len(numeros))

11
55
165
5

In [33]:
# Convertendo entre Listas e Tuplas

minha_lista = [1, 2, 3, 4, 5]

#converte para tupla
minha_tupla = tuple(minha_lista)
print(minha_tupla)

#converte para lista
minha_lista2 = list(minha_tupla)
print(minha_lista2)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [38]:
# Tuplas com Um Único Elemento

tupla_unica = (42,)
print(tupla_unica)

nao_tupla = (42)
print(nao_tupla)
print(type(nao_tupla))

(42,)
42
<class 'int'>