<a href="https://colab.research.google.com/github/Muriloviskexe/Python/blob/main/Estrutura_de_Dados_(listas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Criando e Acessando Elementos em uma Lista

#criar lista
minha_lista = [1, 2, 3, "quatro", True, 5.6]

#acessar elementos da lista
print(minha_lista[0])
print(minha_lista[3])

#acessa ultimo elemento
print(minha_lista[-1])

1
quatro
5.6

In [12]:
#Modificando Elementos em uma Lista

numeros = [11, 22, 33, 44, 55]

#modificar elemento
numeros[1] = 23
print(numeros)

#adicionar elemento
numeros.append(66)
print(numeros)

#adicionando elemento em posição especifica
numeros.insert(3, 34)
print(numeros)

[11, 23, 33, 44, 55]
[11, 23, 33, 44, 55, 66]
[11, 23, 33, 34, 44, 55, 66]

In [15]:
#Removendo Elementos de uma Lista

frutas = ['maça', 'banana', 'cereja', 'laranja', 'melancia']

#remover valor
frutas.remove('banana')
print(frutas)

#remover indice
fruta_removida = frutas.pop(2)
print(fruta_removida)
print(frutas)

#remover ultimo valor
frutas.pop()
print(frutas)

#limpar lista
frutas.clear()
print(frutas)  # Mostra "[]"

['maça', 'cereja', 'laranja', 'melancia']
laranja
['maça', 'cereja', 'melancia']
['maça', 'cereja']
[]

In [19]:
#Iterando sobre uma Lista

animais = ['gato', 'cachorro', 'coelho']

#iterar sobre a lista
for animal in animais:
    print(animal)

gato
cachorro
coelho

In [24]:
#Compreensão de Listas (List Comprehension)

numeros = [1, 2, 3, 4, 5, 6]

#nova lista com os quadrados dos numeros
quadrados = [x**2 for x in numeros]
print(numeros)
print(quadrados)

#filtrar pares
pares = {x for x in numeros if x % 2 == 0}
print(pares)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]
{2, 4, 6}

In [27]:
#Ordenando uma Lista

numeros = [3, 1, 4, 1, 5, 9, 2, 6, 5]

numeros.sort()
print(numeros)

numeros.sort(reverse=True)
print(numeros)

[1, 1, 2, 3, 4, 5, 5, 6, 9]
[9, 6, 5, 5, 4, 3, 2, 1, 1]

In [31]:
#Funções de Agregação em Listas

numeros = [10, 20, 30, 40, 50]

print(max(numeros))
print(min(numeros))
print(sum(numeros))
print(len(numeros))

50
10
150
5